<!DOCTYPE html>

<html>
  <head>
    <title>APIs and Microservice/URL Shortener Microservice</title>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <main>
      <h1>URL Shortener Microservice</h1>
      <form action="api/shorturl/new" method="POST">
        <h4>Please, enter an URL</h4>
        <label for="input-url">URL:</label>
        <input
          id="input-url"
          type="text"
          name="url"
          placeholder="www.google.com"
        />
        <input type="submit" value="POST URL" />
      </form>
    </main>
  </body>
</html>
